name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run unit tests
        run: |
          python -m unittest -v

      - name: Save test output (evidence)
        run: |
          python -m unittest -v > test-output.txt

      - name: Upload test output artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test-output.txt
